.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Media query para mostrar el menú hamburguesa en dispositivos móviles */
  @media (max-width: 768px) {
    .menu-toggle {
      display: flex;
    }
  
    .navbar-menu {
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      width: 200px;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .navbar-menu.open {
      transform: translateX(0);
    }
  
    .navbar-menu li {
      margin-right: 0;
      text-align: center;
      padding: 10px 0;
    }
  }
  