.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F0CB;
  color: #011C45;
  padding: 10px 20px;
  box-shadow: 0 4px 20px -2px gray;
}

.logo {
  font-size: 24px;
  /* font-weight: bold; */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  
  display: flex;
  gap: 20px;
}

.nav-list li {
  
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.menu-button {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #011C45;
  margin: 3px 0;
}

/* Estilos para el menú hamburguesa abierto */
.menu-button.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-button.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-button.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
  /* Estilos para dispositivos móviles */
  .menu-button {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    z-index: 1;
  }

  .nav-list.open {
    display: flex;
  }
}
