select{
    border: 2px solid #8E5B0E;
    text-align: center;
    color: #8E5B0E;
    width: 190px;
    height: 75px;
    background-color: rgba(244, 240, 203, 0.8);
    border-radius: 0.4rem;
 
}

option {
    width: 100%;
    font-size: .5em;
}