.formulario-inscripcion {
  background-color: #011c45;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-inscripcion input,
.formulario-inscripcion select,
.formulario-inscripcion textarea {
  box-sizing: border-box;
  width: 90%;
}

.campo.checkbox {
  display: flex;
}

.campo.checkbox input {
  width: 40px;
}

.titulo-formulario {
  color: beige;
}

.button-register {
  margin-top: 10%;
  background-color: #6596c3;
  border-color: black;
}

.campo {
  margin: 7px;
}

#profileImage {
  display: none;
}
