#inicio-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image:
        linear-gradient(rgba(13, 62, 105, .5), rgba(13, 62, 105, .5)),
        url('../../assets/imagenes/iniciopanatalla.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav,
footer {
  width: 100%;
}

nav {
  box-sizing: border-box;
}

#cards-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.bienvenida {
  width: 80%;
  text-align: center;
  margin-top: 30px;
  color: beige;
}
