#acampando-ando-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:
      linear-gradient(rgba(236, 216, 182, 0.5), rgba(236, 216, 182, 0.5)),
      url('../../assets/imagenes/acampandoando.jpg');
    overflow: auto;  
    
  }

  #acampando-ando{
    border: 2px solid #F4F0CB;
    padding: 40px;
    /* margin:10px; */
    border-radius: 10px;
    background-color:rgba(244, 240, 203, 0.50);
    font-size: 1.5em;
    margin-top: 100px;
    
}

/* #acampando-ando-content{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
} */

.acampando-ando-text{
   
    font-weight: bold;
    border: 2px solid black;
    padding: 20px;
    /* margin:10px; */
    border-radius: 10px;
    font-size: 0.8em ;
    margin-top: 20px;
    background-color: rgba(244, 240, 203,0.50); ;
    color: black;    
}

.acampando-ando-text:last-of-type {
    margin-bottom: 10px;

}