.cuida-de-ti-misma {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:
      linear-gradient(rgba(236, 216, 182, 0.5), rgba(236, 216, 182, 0.5)),
      url('../../assets/imagenes/def.jpg');
    overflow: auto;  
    
  }

  .cuida-de-ti-misma-tittle{
   
    font-weight: bold;
    border: 3px solid #F4F0CB;
    padding: 20px;
    margin:10px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 1.5em ;
    margin-top: 20px;
    background-color: #112744;
    color: #F4F0CB; 
    text-align: center;   
}

.cuida-de-ti-misma-text {

    padding: 20px;
    margin:10px;
    border-radius: 10px;
    font-size: 0.8em ;
    margin-top: 20px;
    background-color: rgba(244, 240, 203,0.50); ;
    color: black; 
    width: 250px;   

}

.cuida-de-ti-section {
    height: 100%;
    display: flex;
    flex-direction: column;
}